@import url('_global.css');

.section-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.section-top h5 {
  color: #1f3c88;
  font-size: 25px;
  font-family: 'Gilroy-Bold';
}

.section-top a {
  display: flex;
  align-items: center;
  background-color: #1f3c88;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-family: 'Gilroy-Semibold';
  transition: all 0.1s ease;
}

.section-top a:hover {
  background-color: #19316E;
}

.section-top a svg {
  margin-left: 10px;
}

.swiper {
  width: 100%;
  height: 60vh;
}

.swiper-slide {
  position: relative;
  overflow: hidden;
}

.swiper-slide a {
  position: absolute;
  bottom: -100%;
  right: 10%;
  background-color: #1f3c88;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Gilroy-Semibold';
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}

.swiper-slide:hover a {
  bottom: 50px;
}

.swiper-slide a:hover {
  background-color: #19316E;
}

.swiper-slide a svg {
  margin-left: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.news {
  padding: 80px 0;
  background-color: #fff;
  /*background-color: #A7D5F2;*/
}

.news__top {
  margin-bottom: 80px;
}

.news__cards {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.news__card {
  flex: 0 1 calc(100% / 3 - 15px);
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}

.news__card:hover {
  box-shadow: 0 0px 25px rgb(0, 0, 0, 0.4);
}

.news__card:hover img {
  transform: scale(1.2);
}

.news__card-img {
  overflow: hidden;
}

.news__card img {
  display: block;
  max-width: 100%;
  transition: all 0.3s ease;
}

.news__card-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding-top: 15px;
}

.news__card-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: 'Gilroy-Semibold';
}

.news__card-text {
  font-family: 'Gilroy-Medium';
}

.news__card-text:last-child {
  margin-bottom: 20px;
}

.news__card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__card-date {
  font-family: 'Gilroy-Bold';
}

.news__card-bottom a {
  color: #0d6efd;
  font-size: 18px;
  transition: color 0.1s ease;
}

.news__card-bottom a:hover {
  color: #19316E;
}

.announcements {
  padding: 80px 0;
  background-color: #F4F8FB;
}

.announcements__top {
  margin-bottom: 80px;
}

.announcements__cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.announcements__card {
  flex: 0 1 calc(100% / 2 - 10px);
  display: flex;
  padding: 20px;
  border-left: 1px solid #e2e3e7;
  position: relative;
}

.announcements__card::before {
  content: '';
  border-radius: 50%;
  background-color: #19316E;
  position: absolute;
  left: -5px;
  width: 10px;
  height: 10px;
  bottom: 50%;
  transform: translateY(50%);
}

.announcements__card-img {
  flex: 0 1 160px;
  margin-right: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.announcements__card-img img {
  display: block;
  max-width: 100%;
}

.announcements__card h6 {
  color: #313131;
  font-size: 19px;
  font-family: 'Gilroy-Medium';
  margin-bottom: 10px;
}

.announcements__card p {
  font-size: 17px;
  color: #696969;
  margin-bottom: 10px;
}

.announcements__card a {
  color: #0d6efd;
  font-size: 18px;
  transition: color 0.1s ease;
}

.announcements__card a:hover {
  color: #19316E;
}

.leaders {
  padding: 50px 0;
  background-color: rgba(49, 78, 133, 0.15);
}

.leaders__title {
  color: #1f3c88;
  font-size: 25px;
  font-family: 'Gilroy-Bold';
  margin-bottom: 50px;
}

.leaders__inner {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.leaders__item {
  flex: 0 1 calc(100% / 5 - 16px);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.leaders__item-img {
  max-height: 250px;
  overflow: hidden;
}

.leaders__item-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.leaders__item-name {
  background-color: #fff;
  padding: 20px 30px;
  text-align: center;
  color: #1f3c88;
  text-transform: uppercase;
  font-family: 'Gilroy-Semibold';
}

.leaders__item-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 40px 20px;
  background: rgba(61, 177, 102, 0.9);
  z-index: 10;
}

.leaders__item:hover .leaders__item-over {
  opacity: 1;
}

.leaders__item-over a {
  display: flex;
  align-items: center;
  background-color: #1f3c88;
  color: #fff;
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  font-family: 'Gilroy-Semibold';
  transition: all 0.1s ease;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgb(31, 60, 136, 50%);
}

.leaders__item-over a:hover {
  background-color: #19316E;
}

.leaders__item-over a svg {
  margin-left: 10px;
}

.indicators {
  padding: 50px 0;
  background-color: #19316E;
}

.indicators__inner {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.indicators__item {
  flex: 0 1 calc(100% / 4 - 15px);
  text-align: center;
  color: #fff;
}

.indicators__item h6 {
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 42px;
}

.indicators__item p {
  font-size: 15px;
}

.links {
  padding: 60px 0;
  background-color: #F4F8FB;
}

.links__title {
  color: #1f3c88;
  font-size: 25px;
  font-family: 'Gilroy-Bold';
  margin-bottom: 40px;
}

.links__slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  margin: auto;
  overflow:hidden;
  position: relative;
}
  
.links__slider::before,
.links__slider::after {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}
  
.links__slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.links__slider::before {
  left: 0;
  top: 0;
}
  
.links__slider-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(380px * 8);
}
  
.links__slide {
  /*height: 100px;*/
  width: 380px;
}

.links__slide a {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 5%);
  height: 120px;
  padding: 25px;
}

.links__slide-img {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.links__slide-img img {
  width: 57px;
  height: 57px;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-380px * 4))}
}

.about {
  padding-top: 60px;
  background-color: #F8F8F8;
}

.about__inner {
  display: flex;
  flex-wrap: wrap;
}

.about__img,
.about__info {
  flex: 0 1 50%;
}

.about__img img {
  display: block;
  max-width: 100%;
}

.about__info {
  padding-left: 20px;
}

.about__info h4 {
  color: #1f3c88;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Gilroy-Bold';
  font-size: 20px;
  line-height: 1.2;
}

.about__info p {
  color: #8C8C8C;
  font-size: 15px;
}

@media (max-width: 1024px) {
  .news__card {
    flex: 0 1 calc(100% / 2 - 10px);
  }

  .announcements__card {
    padding: 15px 0 15px 15px;
  }

  .leaders__item {
    flex: 0 1 calc(100% / 3 - 14px);
  }

  .indicators__item {
    flex: 0 1 calc(100% / 2 - 10px);
  }

  .about {
    padding-bottom: 60px;
  }

  .about__img,
  .about__info {
    flex: 0 1 100%;
  }

  .about__img {
    margin-bottom: 20px;
  }

  .about__info {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .swiper-slide a {
    bottom: 50px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
  }

  .swiper-slide a svg {
    width: 20px;
    height: 20px;
  }

  .announcements__card {
    flex: 0 1 100%;
  }

  .leaders__item {
    flex: 0 1 calc(100% / 2 - 10px);
  }
}

@media (max-width: 650px) {
  .news__card {
    flex: 0 1 100%;
  }
}

@media (max-width: 576px) {
  .announcements__card {
    display: block;
  }

  .announcements__card::before {
    transform: translateY(0);
    bottom: auto;
    top: 175px;
  }

  .announcements__card-img {
    width: 100%;
    margin-bottom: 10px;
  }

  .links__slider::before,
  .links__slider::after {
    display: none;
  }
}

@media (max-width: 450px) {
  .news {
    padding: 50px 0;
  }

  .leaders__item {
    flex: 0 1 100%;
  }

  .indicators__item {
    flex: 0 1 100%;
  }

  .about__info h4 {
    font-size: 18px;
  }
}