@import url('_global.css');

.more {
  padding: 60px 0;
  background-color: #FAFBFF;
}

.more__title {
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 60px;
}

.more__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.more__text{
  flex: 0 1 63%;
}

.more__info {
  flex: 0 1 33%;
  background-color: #1f3c88;
  padding: 30px 20px;
}

.more__info-title {
  color: #fff;
  text-align: center;
  font-family: 'Gilroy-Bold';
  font-size: 20px;
  margin-bottom: 20px;
}

.more__info-img {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 10px;
}

.more__info-img img {
  display: block;
  max-width: 100%;
}

.more__info-post {
  font-size: 13px;
  text-align: center;
  color: #808080;
  font-family: 'Gilroy-Bold';
  margin-bottom: 20px;
}

.more__info-contact li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 5px;
  font-size: 15px;
  color: #fff;
}

.more__info-contact li svg {
  margin-right: 5px;
}

.more__text p {
  margin-bottom: 20px;
}